
.background {
    background-image: url('../public/fudorosa.png');
    background-size: cover; 
    background-position: center; 
    height: 100vh; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.relative {
    position: relative;
  }
  
  .absolute {
    position: absolute;
  }
  
  .top-2 {
    top: 0.5rem;
  }
  
  .left-2 {
    left: 0.5rem;
  }
  
  .transition-width {
    transition: width 0.3s;
  }
  
  .w-0 {
    width: 0;
  }
  
  .w-64 {
    width: 16rem;
  }
  
