/* pages/index.module.css */

.background {
    background-image: url('../public/fudorosa.png'); /* Caminho relativo à pasta public */
    background-size: cover; /* Ajusta a imagem para cobrir toda a área */
    background-position: center; /* Centraliza a imagem */
    height: 100vh; /* Altura da div igual à altura da tela */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
